/*公司產業鏈*/

.ComIndustry{
	font-size: 40px;
	margin-left: 50px;
	color:red;
	font-weight: bolder;
	font-family:  Microsoft JhengHei;
}

span{
	font-size: 20px;
	color:blue;
	margin-left: 30px;
	font-weight: bolder;
	font-family:  Microsoft JhengHei;
}

span > p{
	font-size: 20px;
	color:purple;
	font-weight: bolder;
	font-family:  Microsoft JhengHei;
}